[target.x86_64-unknown-linux-gnu]
# Use the Wild linker and Cranelift backend
rustflags = [
    "-C", "link-arg=-fuse-ld=wild",
    "-Z", "codegen-backend=cranelift"
]

[build]
# Ensure sccache is used
rustc-wrapper = "sccache"

[profile.dev]
# Optimize for compile speed
opt-level = 0
debug = 0            # Cranelift debug info is limited anyway
strip = "debuginfo"  # Don't emit huge symbol files
incremental = true
codegen-units = 256

[env]
WILD_INCREMENTAL = "1"
